@import 'antd/dist/antd.css';

.ant-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.ant-layout-header{
  background-color: #f5ba13;
  margin: auto -20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: x-large;
  font-weight: bold;
}
.ant-layout-content {
  flex: 1;
  background-color: #fff;
  padding: 24px;
  margin: 0;
  margin-bottom: 20px;
}

/* .note-table {
  max-height: calc(100vh - 64px - 48px); 
  overflow-y: auto;
  padding-bottom: 20px;
  flex-grow: 1;
  padding-bottom: 20px;
} */





